@import 'variables';

body {
	background-color: $color-background;
	font-family: $font-main;
	margin: 0;
}

a {
	color: $color-link;
}

.button {
	background-color: #fff;
	border: 1px solid gray;
	border-radius: 7px;
	color: black;
	font-family: $font-main;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;

	.fa {
		margin-right: 5px;
	}
}

.main-layout {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-column-gap: 10px;
	padding: 20px;

	@media only screen and (max-width: 768px) {
		grid-template-columns: 100%;
	}

	.content {
		background-color: $color-primary;
		border-radius: 10px;
		color: #fff;
		padding: 20px;

		h2 {
			font-size: 40px;
			margin-top: 0;
		}

		.action {
			padding: 15px;
		}
	}

	.counter {
		background-color: $color-dark;
		border-radius: 5px;
		color: #fff;
		font-size: 20px;
		padding: 20px 40px;

		@media only screen and (max-width: 768px) {
			display: none;
		}
	}

}

.error {
	font-size: 25px;
	font-style: italic;
	color: #000;
}

code {
	background-color: gray;
	border: 1px solid black;
	border-radius: 10px;
	padding: 13px;
}

.pre {
	font-family: monospace;
	background-color: gray;
	border: 1px solid black;
	border-radius: 6px;
	padding: 3px;
}

.nav {
	background-color: $color-header;
	color: $color-link;
	height: 100%;
	list-style: none;
	margin: 0;
	padding-left: 0;

	li {
		float: right;
		padding: 20px;

		a {
			text-decoration: none;
		}
	}

	a.logo {
		float: left;
		font-size: 30px;
		text-decoration: none;
		margin: 10px;
	}
}

nav {
	height: 64px;
}

.home-doc {
	@media (max-width: 768px) {
		.button {
			font-size: 11px;
		}
	}
}

.api-doc {
	font-family: monospace;
	background-color: rgba(255,255,255,.95);
	color: $color-api;
	margin-bottom: 30px;

	th {
		color: #fff;
		background-color: $color-api-header;
		font-size: 20px;
	}

	tr {
		td:first-child {
			background-color: $color-api-secondary;
		}
	}
}
