@import 'variables';

.home-layout {
	display: grid;
	grid-template-columns: 65% 25%;
	grid-column-gap: 10px;
	padding: 20px;

	.jumbotron {
		background-color: $color-primary;
		border-radius: 10px;
		color: #fff;
		padding: 20px;

		h2 {
			font-size: 40px;
		}

		.action {
			padding: 15px;
		}
	}

	.counter {
		background-color: $color-dark;
		border-radius: 5px;
		color: #fff;
		font-size: 20px;
		padding: 20px 40px;
	}

}
