$color-primary: #ef9a9a;
$color-background: #ffebee;
$color-dark: #c62828;
$font-main: 'Raleway', sans-serif;
$color-link: #b71c1c;
$color-header: #ffcdd2;
$color-api: #212121;
$color-api-header: #78909c;
$color-api-secondary: #d3d7da;
